.container{
    justify-content: justify;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 20px;
    padding: 70px;
    margin: 70px;
    font-size: x-large;
    border-color: white;
    background-color: yellow;
    border-width:2px;
}

button{
    border-radius: 7px;
    background-color: rgb(0, 4, 241);
    color:white;
    font-size: x-large;
}

body{
    background-color: rgb(247, 247, 45);
}

button:hover{
    cursor: pointer;
}



@media (min-width: 992px) { 
    .container{
        justify-content: justify;
        padding: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container{
        justify-content: justify;
        padding: 30px;
    }

}


@media (min-width: 576px) and (max-width: 767px) {
    .container{
        justify-content: justify;
        padding: 40px;
        margin:20px
    }
}


@media (max-width: 575px) {
    .container{
        justify-content: justify;
        padding: 40px;
    }
}

@media (min-width:344px) and (max-width:882px) {
    .container{
        justify-content: justify;
        padding: 15px;
    }
}
